---
import type { GetStaticPaths } from "astro";
//@ts-nocheck
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Category from "../components/Category.astro";

const data = await fetch("https://kea-alt-del.dk/t7/api/categories/").then((response) => response.json());
console.log(data);
---

<Layout>
  <header>
    <Header />
  </header>
  <main>
    <section class="category_list_container">
      {data.map((productCategory) => <Category {productCategory} />)}
    </section>
  </main>
</Layout>
