---
const { productCategory } = Astro.props;
---

<a href=`productlist?category=${productCategory.category}`>{productCategory.category}</a>
<!-- <a href=`productlist/${productCategory.category}`>{productCategory.category}</a> -->
