<article class="main_header">
  <a href="/">
    <h1>Fashion<span>R</span>Us</h1>
  </a>
  <nav>
    <a href="/">Categories</a>
    <a href="#">Brands</a>
    <a href="#">Seasons</a>
  </nav>
</article>
